body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
}

.navLinks {
  color: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 20px 0;
}

.mainContent {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
}

.left-aside {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-left: 3%;
}

.about {
  background-color: lightgray;
  padding: 15px;
}

.archives {
  padding: 15px;
}

.archives a {
  color: purple;
}

.mid-article {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.left-article {
  width: 49%;
}

.right-article {
  width: 49%;
}

.person {
  border: 1px solid gray;
  box-shadow: 0px 3px 2px #888888;
  margin: 0;
  margin-bottom: 20px;
}

.person a {
  text-decoration: none
}

img {
  width: 100%;
}

figcaption {
  padding: 20px;
}

.right-aside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.signIn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80px;
}

footer a{
  color: purple;
}


